<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Erfina Arthur**

**Aspiring to be a data scientist in the field of consulting or medical technology.**

*I am interested in becoming a data scientist because of my passion for math and my strong database skills. The opportunity to apply both of these skills to solve complex real-world problems excites me.*

### This code is intended to be executed and must display an output. The following example shows the result of an arithmetic operation.

In [9]:
5 * 4 * 3 * 2 * 1

120

### Hi!
___

### List of my favorite fruits

* Bananas
* Apples
* Pineapple

### Top 3 movies

1. Wonder
2. Planet of the Apes
3. Avengers

### My friends data

| Name | Age | Gender |
|------|-----|--------|
| Wina | 21  | Female |
| Razan| 20  |  Male  |
| Salma| 20  | Female |

### Favorite city

![City](https://cdn.londonandpartners.com/-/media/images/london/visit/campaigns/international-recovery-campaign/lets-do-london-related-international-640.jpeg?mw=640&hash=477E6FF9F31F292EE017E5BA63027C7054EB39A0)

print("Hello world!")